#wrappen{
  width: 100%;
  margin.left:auto;
  margin-right:auto;

}

header{
  height: 100px;
  width:  100%;
  background-color:black;
}
nav{

height: 50px;
width: 100%;
background-color:#ADD8E6;
}
main{
  height: 500px;
  width:   50%;
  background-color:#00FFFF;


}

aside{
  height:500px;
  width:  50%;
  background-color:#FFFFE0;

}
footer{
  height: 50px;
  width:100%;
  background-color:#FFF8DC;


}
#container{
  display:flex;

}
div {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
