#wrapper{

width: 100%;
margin-left: auto;
margin-right: auto;

}


header{

  height: 45px;
  width: 100%;
  background-color: grey;
}

nav{
height: 60px;
width: 100%;
background-color: #034444;
}

main{
  height: 400px;
  width: 60%;
  background-color: #44dffc;
}

aside{
  height: 400px;
  width: 40%;
  background-color: #03d99c;
}

footer{
  height: 55px;
  width: 100%;
background-color: #034444;

}
#container{
  display: flex;

}
